{% extends "base.html" %}

{% block content %}

<div class="account-container">
    <p class="usergreeting">Hi {{ user.username }}!</p>
    <p class="account-header">Here is your account information:</p>
    <p>Username: {{user.username}}</p>
    <p>First Name: {{user.firstname}}</p>
    <p>Surname: {{user.surname}}</p>
    <p>Email: {{user.email}}</p>
    <a href="{% url 'eventFinderApp:new-event' %}" id="new-event">+ Create new event</a>

    <p class="account-header">Events Hosted by me:</p>
</div>
<div class="account-events-container">
    {% for event in user.event_set.all %}        
        <div class=card-container>
                <div class=card>                    
                    {% include "./detailsBox.html" with event=event %}                      
                </div>
            </div>
    {% endfor %}
</div>



{% endblock %}