{% extends "base.html" %}

{% block content %}

<img src="{{event.categories.first.image.url}}" width="50%">
<h2>{{ event.title }}</h2>

<p>Venue: {{ event.venue }}</p>

<p>Location: {{ event.location }}</p>
<p>Starts at: {{ event.start_time }}</p>
<p>Ends at: {{ event.end_time }}</p>
<p>Category:
    {% if event.categories %}
        {% for category in event.categories.all %}
           {{category.name}}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    {% endif %}    
</p>
<p>User: {{event.host}}</p>

{% endblock %}



