{% extends "base.html" %}

{% block content %}
<div class=individual-event-container>
    <img src="{{event.categories.first.image.url}}" width="50%" class="event-img">
    <div class="event-details">
        <h2>{{ event.title }}</h2>
        <p><strong>Venue: </strong>{{ event.venue }}</p>
        <p><strong>Location: </strong>{{ event.location }}</p>
        <p><strong>Starts at: </strong> {{ event.start_time }}</p>
        <p><strong>Ends at: </strong> {{ event.end_time }}</p>
        <p><strong>Category: </strong>
            {% if event.categories %}
                {% for category in event.categories.all %}
                {{ category.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            {% endif %}    
        </p>             
        <p><strong>User: </strong>{{ event.host }}</p>
        <p><strong>Description:</strong></p>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim 
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur 
            sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
            mollit anim id est laborum.
        </p>
        </p>  
    </div>
</div>

{% endblock %}



