{% extends "base.html" %}
{% block content %}

<div class="login-container">
  <div class="login-form-container">
    <h2>Login in to your account!</h2>

    <form method="post" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" value="Update" class="btn btn-primary">Login</button>
      </form>   
      <p class="signup-link">Not got an account?<a href="{% url 'signup' %}">Sign Up here<img src="/static/images/writing.png"></a></p>
       
           
  </div>
</div>

{% endblock %}