{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <div class="submit-container">
        <div class="submit-form-container">
            <h2>Sign up</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
            <button type="submit">Sign up</button>
            </form>
            <p class="signin-link">Already have an account?<a href="{% url 'login' %}">Login here<img src="/static/images/user.png"></a></p>
        </div>
    </div>
{% endblock %}