<nav>
    <ul>
        </li><a href="{% url 'eventFinderApp:index' %}">Home<img src='/static/images/home-icon-silhouette.png'></a></li>        
        {% if user.is_authenticated %}
        <li><a href ="{% url 'eventFinderApp:account' %}">My Account<img src="/static/images/user.png"></a></li>
        <li><a href="{% url 'logout' %}">Logout<img src="/static/images/shut-down-icon.png"></a></li>
    {% else %}
        <li><a href="{% url 'login' %}">Login<img src="/static/images/user.png"></a></li>
        <li><a href="{% url 'signup' %}">Sign Up<img src="/static/images/writing.png"></a></li>        
    {% endif %} 
    </ul>   
</nav>
